* {
  box-sizing: border-box;
}
body {
  
  margin: 0 auto;
  padding: 0;
  font-family: "Philosopher", sans-serif;
  letter-spacing: 1px;
}
.header {
  background:#C23517;
  height: 300px;
  clear: both;
  
  
}
h1 {
  
  padding: 50px;  
  color: antiquewhite;
  font-size: 300%;
  text-shadow: 3px 3px 1px black;
 
  
}
.navbar {
  
  background: burlywood;  
  height: 100px;
  clear: both;
  position: relative;
  bottom: 200px;
  
 
}
.navbar ul {
  position: absolute;
  right: 50px;
  
}
.navbar ul li {
  list-style: none;
  float: right;
  background: sandybrown;
  padding: 10px;
  margin: 10px;
  text-shadow: 1px 1px 2px black;
  width: 100px;
  border-radius: 15px;
  text-align: center;
  font-weight: bold;
}
.logo {
  width: 300px;
  float: left;
  position: relative;
  bottom: 200px;
  display: block;
  margin: 0 auto;
}
.sidebar {
  background: #C23517;
  width: 25%;
  height: 450px;
  padding: 10px;  
  position: relative;
  right: 350px;
  top: 10px;
  
  bottom: 75px;
  float: left;
  
 
}
.sidebar ul li {
  list-style: none;
  margin: 15px;
  background: wheat;
  line-height: 50px;
  width: 200px;
  border-radius: 15px;
  text-align: center;
  float: left;
  text-shadow: 1px 1px 2px black;

}

.form {
  float: right;
  width: 250px;
  height: 450px;
  background: #1B5D7D;
 
}
.form div {
  padding: 10px;
  margin-left: 20px;
}
.form h3{
  margin-left: 20px;
}
.form .butt {
  padding: 5px;
  margin-left: 30px;
  margin-top: 20px;
  height: 30px;
  width: 200px;
  font-weight: bold;
  border: 1px solid white;
  border-radius: 10px;
  background-color: sandybrown;
}
.input{
  width: 200px;
  height: 34px;
  margin-top: 5px;
  border: 1px solid gray;
  border-radius: 10px;
}
